* {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}

ul {
    list-style: none;
}

.divider {
    margin-top: 15px;
    height: 4px;
    background-color: #DBFF00;

}

.prf-picture {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
}

.prf-name {
    color: #DBFF00;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;

}

.rating {
    color: #DBFF00;
    font-size: 15px;
    margin-left: 5px;
}

.row-list {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.row-list li {
    list-style: disc;


}

/* PROJECT MANAGEMENT */

.prj {
    color: #DBFF00;
    margin-left: 40px;
}

.prj-mar {
    background-color: rgb(63, 194, 150);
    height: 500px;
    display: flex;
}

.prj-list{
    background-color: black;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 500px;
}
.prj-list li{
    height: 50px;
    width: 250px;
    background-color: rgb(177, 177, 204);
  
}