.component {
    height: 760px;
    width: 710px;
}


.component .overlap {
    height: 940px;
    left: -50px;
    position: relative;
    top: -40px;
    width: 857px;
}

.component .rectangle {
    height: 966px;
    left: 5px;
    position: absolute;
    top: 0;
    width: 833px;
}

.component .img {
    height: 966px;
    left: 0;
    position: absolute;
    top: 0;
    width: 857px;
}

.component .div {
    background-color: #e6e0e0;
    border: 1px solid;
    border-color: #000000;
    border-radius: 10px;
    height: 52px;
    left: 116px;
    top: 315px;
    width: 596px;
}

.component .line {
    height: 5px;
    left: 110px;
    position: absolute;
    top: 150px;
    width: 586px;
}

.component .line-2 {
    height: 12px;
    left: 111px;
    position: absolute;
    top: 188px;
    width: 601px;
}

.component .vector {
    height: 22px;
    left: 85px;
    position: absolute;
    top: 126px;
    width: 10px;
}

.component .text-wrapper {
    color: #ffffff;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 40px;
    font-weight: 600;
    left: 110px;
    letter-spacing: 0;
    opacity: 3;
    line-height: 50px;
    width: 0;
    position: absolute;
    top: 75px;

}

.component .group {
    background-image: url(./images/work/Rectangle\ 45.png);
    background-size: 100% 100%;
    height: 70px;
    left: 206px;
    position: absolute;
    font-size: x-large;
    top: 700px;
    width: 430px;
    border-radius: 50%;
}

.component .div-wrapper {
    height: 24px;
    left: 160px;
    position: relative;
    font-size: xx-large;
    top: 1px;
    width: 92px;
}

.component .text-wrapper-2 {
    color: #000000;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 25px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 90px;
}

.component .rectangle-2 {
    border: 1px solid;
    border-color: #00000080;
    border-radius: 100px;
    height: 45px;
    left: 271px;
    /* opacity: 0.3; */
    position: absolute;
    top: 376px;
    width: 214px;
}

.component .overlap-group-wrapper {
    height: 147px;
    left: 40px;
    position: relative;
    top: 548px;
    width: 604px;
}



.component .rectangle-3 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 10px;
    height: 110px;
    margin-left: 69px;
    top: -20px;
    font-size: xx-large;
    width: 602px;
}

.component .text-wrapper-3 {
    color: white;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 28px;
    font-weight: 600;
    width: 287px;
    top: 485px;
    left: 50px;
}


.component .text-wrapper-4 {
    color: #ffffff;
    font-size: 28px;
    left: 115px;
    opacity: 1;
    top: 220px;
    width: 164px;
    font-weight: 600;
}

.component .group-3 {
    height: 98px;
    left: 113px;
    position: absolute;
    top: 409px;
    width: 0;
}


.component .overlap-22 {
    border-radius: 10px;
    height: 52px;
    left: 115px;
    position: absolute;
    top: 265px;
    width: 596px;
}

.component .rectangle-44 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 10px;
    height: 52px;
    font-size: x-large;
    width: 596px;
}




.component .overlap-2 {
    border-radius: 10px;
    height: 52px;
    left: 0;
    position: absolute;
    top: -15px;
    width: 596px;
}

.component .rectangle-4 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    font-size: x-large;
    border-radius: 10px;
    height: 52px;
    left: 0;
    /* opacity: 0.3; */
    position: absolute;
    top: 0;
    width: 596px;
}

.component .text-wrapper-5 {
    color: #ffffff;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 28px;
    font-weight: 600;
    left: 1px;
    letter-spacing: 0;
    opacity: 1;
    line-height: normal;
    position: absolute;
    top: -55px;
    width: 166px;
}

.component .text-wrapper-6 {
    color: #2a1e17;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 28px;
    font-weight: 500;
    left: 651px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 135px;
    width: 24px;
}